.usersList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.usersListTop {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    padding: 15px;
    border-radius: 10px;
}

.listItem {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
}