
ul, h2, h1, h3, h4{
    margin: 0;
    padding: 0;
}
img{
    width: 200px;
}
.photo-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 600;
    font-size: 1.5em;
    
}
.album-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.comments-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.album-item, .comments-item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.116);

    border-radius: 10px;
}

.album-item{
    align-items: center;
    justify-content: space-between;
}

.comments-item{
    justify-content: space-between;
}

.photo-title{
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

.album-page-text, .post-page-text{
    text-align: center;
}
.title-text{
    text-align: center;
}
.photos-text, .comments-text{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.01);
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.116);
}
.author-text{
    text-align: center;
}
.author-text a{
    text-decoration: none;
}

.body-text{
    text-align: center;
    font-weight: 400;
}
.comments-name {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
    font-size: 1.5em;
    padding: 20px;

}

.comments-body {
    padding: 20px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.8);
    
}

.comment-email{
    padding: 20px;
    color: rgba(0, 0, 0, 0.75);
    align-self: flex-start;
    font-size: 1em;
    font-weight: 600;
}
.body-text::first-letter, .comments-body::first-letter{
    text-transform: uppercase;

}

.posts-list-item a, .albums-item a, .posts-page-list-item a{
    text-decoration: none;
}

.posts-page-list-item, .albums-item{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.posts-page-list-item a, .albums-item a{
    color: rgba(0, 0, 0, 0.774);
    font-weight: 500;
}

.delete-post-btn, .edit-post-link, .create-new-post-link, .create-new-user-link, .edit-user-link{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgb(68, 68, 68);
    text-decoration: none;
    
}

.post-page-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.profile-picture{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}




