.coinsListItem{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.288);
    background-color: rgb(19, 19, 19);
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
    padding: 10px 10px;
}
.coinsListItem:hover{
    background-color: rgb(31, 31, 31);
}

.coinsListItem a{
    color: white;
}

.coinImageAndNameWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.coinImageAndNameWrapper img{
    width: 45px;
    height: 45px;
    border-radius: 50%;

}

.imageWrapper{
    display: flex;
}

.coinPrice, .coinPriceChange, .coinMarketCap {
    display: flex;
    justify-content: center;
    color: white;
}
.coinRank {
    color: white;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}